<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
    <link rel="stylesheet" href="/css/admin/adminOrders.css">
    <title id="title">Админ</title>
</head>
<body>

<header th:insert="blocks/header::header"></header>
<div th:if="${!ordersDto.isEmpty()}">
    <details class="det-sort">
        <summary th:text="#{sort}">Сортировать</summary>
        <div class="table-users">
            <form method="post" action="/admin/sortProducts">
                <div class="sort">
                    <h2 class="sort-tit" th:text="#{sortOrders}"> Сортировать заказы,</h2>
                    <tr th:each="orderDto : ${ordersDto}">
                        <td><input style="display: none" type="hidden" name="ids" th:value="${orderDto.id}"></td>
                    </tr>
                    <label for="parameter" class="label-users" th:text="#{chooseParameter}">выберите параметр</label>
                    <select class="select-sort" name="parameter" id="parameter">
                        <option value="name" th:text="#{title}">Название</option>
                        <option value="category" th:text="#{category}">Категория</option>
                        <option value="price" th:text="#{price}">Цена</option>
                        <option value="description" th:text="#{description}">Описание</option>
                        <option value="isExist" th:text="#{availability}">Наличие</option>
                    </select>
                    <button type="submit" class="btn-sort" th:text="#{sort}">Сортировать</button>
                </div>
            </form>
        </div>
    </details>
    <hr/>
    <details class="det-search">
        <summary th:text="#{search}">Поиск</summary>
        <div class="search-js">
            <div>
                <h2 th:text="#{searchOnThePageEnterTheOrderNumber}">Поиск на странице, введите номер заказа:</h2>
            </div>
            <div>
                <input type="text" id="myInput" onkeyup="search()" th:placeholder="#{search.}"
                       class="input-js" th:title="#{enterOrderNumber}">
            </div>
        </div>
    </details>

    <div>
        <hr>
        <div class="tab">
            <table class="table " id="myTable">
                <thead>
                <tr>
                    <th scope="col" th:text="#{number}"> Номер</th>
                    <th scope="col" th:text="#{user}"> Пользователь</th>
                    <th scope="col" th:text="#{state}"> Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderDto : ${ordersDto}">
                    <td><a th:text="${orderDto.id}" th:href="@{/admin/order/{id}(id=${orderDto.id})}"
                           class="name-prod"></a></td>
                    <td><h3 th:text="${orderDto.userDto.login}"></h3></td>
                    <td><h3 th:text="${orderDto.stateOrderDto.name}"></h3></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
<script type="text/javascript" src="/js/admin/adminOrders.js"></script>
</body>
</html>