<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
    <title id="title">Админ</title>
</head>
<body>

<header th:insert="blocks/header::header"></header>


<div class="container">
    <div class="us">
        <div class="find-user">
            <form method="get" class="form-us" action="/admin/search">
                <h2 class="tit-us"> Найти пользователя</h2>
                <label class="label-us" for="parameter">Выберите параметр</label>
                <select class="select-us" name="parameter" id="parameter"> Найти пользователя по:
                    <option value="all">Показать всех</option>
                    <option value="login">Логин</option>
                    <option value="email">email</option>
                    <option value="phoneNumber">Номер телефона</option>
                </select>
                <input class="input-us" type="text" name="name">
                <div class="end">
                    <div class="btn-mr">
                        <button class="find-btn" type="submit"> Найти</button>
                    </div>
                    <div>
                        <h3 class="error-us" th:text="${error}"></h3>
                    </div>
                </div>

            </form>

        </div>
        <div class="find-order">
            <form method="get" class="form-us" action="/admin/searchOrders">
                <h2 class="tit-us"> Найти заказы</h2>
                <label class="label-us" for="parameter">Выберите параметр</label>
                <select class="select-us" name="parameterOrder" id="parameterOrder"> Найти заказы по:
                    <option value="all">Показать все</option>
                    <option value="new">Все новые</option>
                    <option value="paid">Все оплаченные</option>
                    <option value="delivered">Все обработанные</option>
                    <!--                    <option value="phoneNumber">Зака</option>-->
                </select>
                <input class="input-us" type="text" name="name">
                <div class="end">
                    <div class="btn-mr">
                        <button class="find-btn" type="submit"> Найти</button>
                    </div>
                    <div>
                        <h3 class="error-us"></h3>
                    </div>
                </div>


            </form>

        </div>
    </div>
    <div class="prod">
        <div class="find-prod">
            <form class="form-prod" action="/admin/searchProducts">
                <h2 class="tit-prod">Найти товар</h2>
                <label class="label-us" for="parameterProd">Выберите параметр</label>
                <select class="select-us" name="parameterProd" id="parameterProd"> Найти товар по:
                    <option value="allProd">Показать все</option>

                    <option value="category" class="aa">Категория</option>

                    <option value="nameProd">Название</option>

                </select>
                <input class="input-us" type="text" name="nameProd">
                <div class="end">
                    <div class="btn-mr">
                        <button class="find-btn" type="submit"> Найти</button>
                    </div>
                    <div>
                        <h3 class="error-us" th:text="${errorProduct}"></h3>
                    </div>
                </div>

            </form>

        </div>
        <div class="find-cat">
            <form class="form-prod" action="/admin/searchProductCategories">
                <h2 class="tit-prod">Найти категорию</h2>
                <label class="label-us" for="parameterProductCategory">Выберите параметр</label>
                <select class="select-us" name="parameterProductCategory"
                        id="parameterProductCategory"> Найти категорию по:
                    <option value="allCategories">Показать все</option>
                    <option value="categoryName" class="aa">Название</option>

                </select>
                <input class="input-us" type="text" name="nameProdCat">
                <div class="end">
                    <div class="btn-mr">
                        <button class="find-btn" type="submit"> Найти</button>
                    </div>
                    <div>
                        <h3 class="error-us" th:text="${errorCategory}"></h3>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>
<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>