<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Админ</title>
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/adminProducts.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>


<div>
    <div class="table-users">
        <form method="post" action="/admin/sortProducts">
            <h1 class="tit-users"> Все товары</h1>
            <div class="sort">
                <h2 class="sort-tit"> Сортировать товары:</h2>
                <tr th:each="productDto : ${productsDto}">
                    <td><input style="display: none" type="hidden" name="ids" th:value="${productDto.id}"></td>

                </tr>

                <label for="parameter" class="label-users">Выберите параметр</label>

                <select class="select-sort" name="parameter" id="parameter">
                    <option value="name">Название</option>
                    <option value="category">Категория</option>
                    <option value="price">Цена</option>
                    <option value="description">Описание</option>
                    <option value="isExist">Наличие</option>
                </select>
                <button type="submit" class="btn-sort">Сортировать</button>
            </div>
        </form>
    </div>
    <hr/>
    <div class="tab">
        <table class="table ">
            <thead>
            <tr>
                <th scope="col"> Название</th>
                <th scope="col"> Категория</th>
                <th scope="col"> Цена</th>
<!--                <th scope="col"> Описание</th>-->
                <th scope="col"> Наличие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productDto : ${productsDto}">
                <td><a th:text="${productDto.name}" class="name-prod"
                       th:href="@{/admin/product/{id}(id=${productDto.id})}"></a></td>
                <td><a th:text="${productDto.productCategoryDto.name}"></a></td>
                <td><a th:text="${productDto.price}"></a></td>
<!--                <td><a th:text="${productDto.description}"></a></td>-->
                <td><a th:if="${productDto.isExist}">+</a>
                    <a th:if="${!productDto.isExist}">-</a>
                </td>


            </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавить товар</h3>
                <a href="#close" onclick="closeModal();"
                   title="Close" id="close" class="close">×</a>
            </div>
            <div class="modal-body">
                <div>
                    <form method="post" action="/admin/saveProduct" th:object="${productDto}">
                        <div class="dis">
                            <label for="name">Введите название</label>
                            <input type="text" id="name" name="name" class="inp-mod ml1">
                        </div>
                        <div th:if="${errorName}" class="err-mod"
                             th:text="${errorName}">
                        </div>

                        <div class="dis">
                            <label for="price">Введите цену</label>
                            <input type="number" id="price" name="price" class="inp-mod ml2">
                        </div>
                        <div th:if="${errorPrice}" class="err-mod"
                             th:text="${errorPrice}">
                        </div>

                        <div class="dis">
                            <label for="amount">Введите колличество</label>
                            <input type="number" id="amount" name="amount" class="inp-mod ml3">
                        </div>
                        <div th:if="${errorAmount}" class="err-mod"
                             th:text="${errorAmount}">
                        </div>

                        <div class="dis">
                            <label for="category"> Выберите категорию</label>
                            <input autocomplete="off" list="category" type="text" class="inp-mod ml4"
                                   id="input" name="category">
                            <datalist id="category">
                                <option th:each="productCategoryDto : ${productCategoriesDto}"
                                        th:text="${productCategoryDto.name}"
                                        th:value="${productCategoryDto.name}">
                                </option>
                            </datalist>
                        </div>
                        <div th:if="${errorCategory}" class="err-mod"
                             th:text="${errorCategory}">
                        </div>
                        <div class="dis">
                            <label for="description">Описание</label>
                            <textarea id="description" name="description" class="inp-mod ml5">
                        </textarea>
                        </div>

                        <div class="cont">
                            <div>
                                <button class="modal-btn-yes" type="submit">Сохранить</button>
                            </div>

                            <div>
                                <button type="button" class="modal-btn-no">
                                    <a onclick="closeModalButton();" class="ref-close"
                                       href="#close">Отмена</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${error}">
    <input type="hidden" id="flag" th:value="${error}">
</div>

<button class="add-card "  >
    <a href="#" class="add-pr" onclick="openModal();">Добавить товар</a>
</button>


<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/adminProducts.js"></script>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>