<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Админ</title>
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/adminProductCategory.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<header th:insert="blocks/header::header"></header>


<div class="user">
    <div class="ord pr-w">
        <div class="tit-ord">
            <h1 th:text="${productCategoryDto.name}">Название категории</h1>

        </div>
        <div>
            <img class="img-mb" src="https://diamedica.by/uploads/no-image.jpg"
                 width="450" height="450"/>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{categoryName}">Название категории</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${productCategoryDto.name}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{countProduct}">Колличество товаров</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${productCategoryDto.amount}"></h4></div>
        </div>


        <hr >
        <div style="display: flex">
            <div>
                <form>
                    <button type="button" onclick="return openMod();"
                            th:text="#{change}" class="add-card ord-btn" >Изменить
                    </button>
                </form>
            </div>
            <div>
                <form th:if="${productCategoryDto.getAmount()<=0}">
                    <button type="button" class="del-cat" onclick="return openModalDel();"
                            th:text="#{delete}">Удалить
                    </button>
                </form>
            </div>
        </div>


    </div>
</div>


















<!--<div class="tab">-->
<!--    <table class="table ">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col" th:text="#{title}"> Название</th>-->
<!--            <th scope="col" th:text="#{amountOfProducts}"> Колличество товаров</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td><a class="td-ref" th:text="${productCategoryDto.name}"></a></td>-->
<!--            <td th:text="${productCategoryDto.amount}"></td>-->
<!--            <td>-->
<!--                <form>-->
<!--                    <button type="button" class="btn btn-wid btn-col-1" onclick="return openMod();"-->
<!--                            th:text="#{change}">Изменить-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form>-->
<!--                    <button type="button" class="btn btn-wid btn-col-1" onclick="return openModalDel();"-->
<!--                            th:text="#{delete}">Удалить-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<div id="openModalCat" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" th:text="#{changeCategory}">Изменить категорию</h3>
                <a href="#close" onclick="closeModal();"
                   title="Close" id="close" class="close">×</a>
            </div>
            <div class="modal-body">
                <div>
                    <form method="post" action="/admin/product_category/update" th:object="${productCategoryDto}">
                        <div class="dis">
                            <label for="name" class="lab-upd" th:text="#{enterANewTitle}">Введите новое название</label>
                            <input type="text" id="name" name="name" class="inp-mod ml1 ml-up"
                                   th:placeholder="${productCategoryDto.name}" th:field="${productCategoryDto.name}">
                            <input type="hidden" th:field="${productCategoryDto.id}">
                        </div>
                        <div th:if="${moreNumber}" class="mb"
                             th:text="#{theNumberOfCharactersCanNotBeMore}">
                        </div>
                        <div th:if="${emptyCategoryName}" class="mb"
                             th:text="#{categoryNameCanNotBeEmpty}">
                        </div>
                        <div th:if="${existCategory}" class="mb"
                             th:text="#{categoryAlreadyExist}">
                        </div>
                        <div class="cont">
                            <div>
                                <button class="modal-btn-yes" type="submit" th:text="#{save}">Сохранить</button>
                            </div>

                            <div>
                                <button type="button" class="modal-btn-no">
                                    <a onclick="closeModalButton();" class="ref-close"
                                       href="#close" th:text="#{cancel}">Отмена</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="openModalDel" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" th:text="#{deleteCategory}">Удалить категорию</h3>
                <a href="#close" onclick="closeModalDel();"
                   title="Close" id="closeDel" class="close">×</a>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-head" th:text="#{areYouSureYouWantToDeleteTheCategory}">
                        Вы действительно хотите удалить категорию?
                    </div>
                    <form th:method="post" th:action="@{/admin/product_category/delete}"
                          th:object="${productCategoryDto}">
                        <input type="hidden" th:field="${productCategoryDto.id}">
                        <input type="hidden" th:field="${productCategoryDto.name}">
                        <div class="cont">
                            <div>
                                <button class="modal-btn-yes" type="submit" th:text="#{delete}">Удалить</button>
                            </div>
                            <div>
                                <button type="button" class="modal-btn-no">
                                    <a onclick="closeModalDelButton();" class="ref-close"
                                       href="#close" th:text="#{cancel}">Отмена</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="openModalDelError" class="modal">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h3 class="modal-title" th:text="#{deleteError}">Ошибка удаления</h3>-->
<!--                <a href="#close" onclick="closeModalDelError();"-->
<!--                   title="Close" id="closeDelError" class="close">×</a>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div>-->
<!--                    <div class="mb-head" th:text="#{containsProduct}">-->
<!--                        В этой категории находятся товары. Чтобы удалить категорию необходимо сначала удалить товары.-->
<!--                    </div>-->
<!--                    <form th:method="post" th:action="@{/admin/product_category/delete}" class="del-err"-->
<!--                          th:object="${productCategoryDto}">-->
<!--                        <div>-->
<!--                            <button class="modal-btn-yes err-btn" type="button">-->
<!--                                <a onclick="closeModalDelErrorButton();" class="ref-close"-->
<!--                                   href="#close" th:text="#{ok}">Хорошо</a></button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:if="${error}">
    <input type="hidden" id="flag" th:value="${error}">
</div>

<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
<script type="text/javascript" src="/js/adminProductCategory.js"></script>
</body>
</html>