<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/adminProduct.css">
    <title id="title">Админ</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>



<div class="tab">
    <table class="table ">
        <thead>
        <tr>
            <th scope="col"> Название</th>
            <th scope="col"> Категория</th>
            <th scope="col"> Цена</th>
            <th scope="col"> Колличество</th>
            <th scope="col"> Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td><a class="td-ref" th:text="${productDto.name}"></a></td>
            <td><a th:text="${productDto.productCategoryDto.name}"></a> </td>
            <td><a th:text="${productDto.price}"></a></td>
            <td><a th:text="${productDto.amount}"></a></td>
            <td><a th:text="${productDto.description}"></a></td>
            <td>
                <form>
                    <button type="button" onclick="return openModalUpdateProduct();"
                            class="btn btn-wid btn-col-1">Изменить</button>
                </form>
            </td>
            <td>
                <form  >
                    <button type="button" onclick="return openModalDeleteProduct();"
                            class="btn btn-wid btn-col-1">Удалить</button>
                </form>
            </td>
<!--            <td>-->
<!--                <form action="/shop" th:object="${product}">-->
<!--                    <input type="hidden" th:field="${product.id}">-->
<!--                    <button type="submit" class="btn btn-wid btn-col-1" onclick="return openModalDel();">-->
<!--                        Добавить в лучшие предложения</button>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>







<div id="openModalUpdateProduct" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Изменить товар</h3>
                <a href="#close" onclick="closeModalUpdateProduct();"
                   title="Close" id="close" class="close">×</a>
            </div>
            <div class="modal-body">
                <div>
                    <form method="post" action="/admin/product/update" th:object="${productDto}">
                        <div class="dis">
                            <input type="hidden" th:field="${productDto.id}">
                            <label for="name">Введите новое название</label>
                            <input type="text" id="name" name="name" class="inp-mod ml1"
                           th:field="${productDto.name}">
                        </div>
                        <div th:if="${errorName}" class="err-mod"
                             th:text="${errorName}">
                        </div>

                        <div class="dis">
                            <label for="price">Введите новую цену</label>
                            <input type="number" id="price" name="price" class="inp-mod ml2"
                                   th:field="${productDto.price}"  >
                        </div>
                        <div th:if="${errorPrice}" class="err-mod"
                             th:text="${errorPrice}">
                        </div>

                        <div class="dis">
                            <label for="amount">Введите новое колличество</label>
                            <input type="number" id="amount" name="amount" class="inp-mod ml3"
                                   th:field="${productDto.amount}"     >
                        </div>
                        <div th:if="${errorAmount}" class="err-mod"
                             th:text="${errorAmount}">
                        </div>

                        <div class="dis">
                            <label for="category"> Выберите новую категорию</label>
                            <input type="hidden" th:field="${productDto.productCategoryDto.id}">
                            <input autocomplete="off" list="category" type="text" class="inp-mod ml4"
                                   th:field="${productDto.productCategoryDto.name}"
                                   id="input" name="category"  th:placeholder="${productDto.productCategoryDto.name}">
                            <datalist id="category">
                                <option th:each="productCategoryDto : ${productCategoriesDto}"
                                        th:text="${productCategoryDto.name}"
                                        th:value="${productCategoryDto.name}">
                                </option>
                            </datalist>
                        </div>
                        <div th:if="${errorCategory}" class="err-mod"
                             th:text="${errorCategory}">
                        </div>
                        <div class="dis">
                            <label for="description">Новое описание</label>
                            <textarea id="description" name="description" class="inp-mod ml5"
                                      th:field="${productDto.description}"
                                      th:placeholder="${productDto.description}" >
                        </textarea>
                        </div>

                        <div class="cont">
                            <div>
                                <button class="modal-btn-yes" type="submit">Сохранить</button>
                            </div>

                            <div>
                                <button type="button" class="modal-btn-no">
                                    <a onclick="closeModalUpdateProductButton();" class="ref-close"
                                       href="#close">Отмена</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>












<div id="openModalDelProduct" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Удалить товар</h3>
                <a href="#close" onclick="closeModalDelProduct();"
                   title="Close" id="closeDel" class="close">×</a>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-head">
                        Вы действительно хотите удалить товар?
                    </div>
                    <form th:method="post" th:action="@{/admin/product/delete}" th:object="${productDto}">
                        <input type="hidden" th:field="${productDto.id}">
                        <input type="hidden" th:field="${productDto.amount}">

                        <div class="cont">
                            <div>
                                <button class="modal-btn-yes" type="submit">Удалить</button>
                            </div>

                            <div>
                                <button type="button" class="modal-btn-no">
                                    <a onclick="closeModalDelProductButton();" class="ref-close"
                                       href="#close">Отмена</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>















<div th:if="${error}">
    <input type="hidden" id="flag" th:value="${error}">
</div>






<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/adminProduct.js"></script>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>