<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
    <link rel="stylesheet" href="/css/adminOrder.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title id="title">Админ</title>
</head>
<body>

<header th:insert="blocks/header::header"></header>

<div class="user">
    <div class="ord pr-w">
        <div class="tit-ord">
            <h1 th:text="#{orderNum}">Заказ №</h1>
            <h1 class="tit-pr" th:text="${orderDto.id}"></h1>
        </div>
        <div>
            <img class="img-mb" src="https://www.seoclerk.com/pics/want47317-1GVggJ1485634644.png"
                 width="450" height="450"/>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{orderNumber}">Номер заказа</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${orderDto.id}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{dateOfCreation}">Дата заказа</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${orderDto.date}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{fullPrice}">Полная стоимость</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${orderDto.fullPrice}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{customerLogin}">Логин заказчика</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${orderDto.userDto.login}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{orderState}">Статус заказа</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${orderDto.stateOrderDto.name}"></h4></div>
        </div>

        <hr th:if="${!productsDto.isEmpty()}">
        <div th:if="${!productsDto.isEmpty()}">
            <details class="det-prod">
                <summary class="sum" th:text="#{products}">Товары</summary>
                <div class="ul-ord">
                    <ul th:each="productDto : ${productsDto}" class="ul-prod">
                        <li ><h4 th:text="${productDto.name}"></h4></li>
                        <li  class="li-price-prod"><h4 th:text="${productDto.price}"></h4></li>
                    </ul>
                </div>
            </details>
        </div>
        <form method="post" th:if="${orderDto.getStateOrderDto().getName().equals('PAID')}"
              th:action="@{admin/order/deliver/{id}(id=${orderDto.id})}">
            <button type="submit"
                    class="add-card ord-btn" th:text="#{markAsProcessed}">Пометить как обработанный
            </button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>