<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Контакты</title>
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
</head>
<body>
<header th:insert="blocks/header::header"></header>



<footer th:insert="blocks/footer::footer"></footer>

<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>