<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title id="title">Товары</title>
    <link href="/css/products.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>

<h2>Выберите категорию</h2>
<div class="container">
    <div class="row">

        <table class="table ">
            <thead>
            <tr>
                <!--                    <th scope="col"> Название</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="productCategoryDto : ${productCategoriesDto}">
                <td>
                    <svg class="bd-placeholder-img card-img-top" width="100%"
                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                         aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#686565"></rect>
<!--                        <title>Placeholder</title>-->
                        <text x="10%" y="50%" fill="#eceeef" dy=".3em"
                                                 th:text="${productCategoryDto.name}"></text>

                    </svg>
                    <div class="tab-td">
                        <button class="btn-look">
                            <a class="ref"
                                    th:href="@{/search/searchCategory/{id}(id=${productCategoryDto.id})}"
                               >Посмотреть</a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>