<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title id="title">Товары</title>
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/adminProducts.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>

<div class="search-js" th:if="${notEmpty}">
    <div>
        <h2 th:text="#{searchOnThePageEnterTheNameOfTheProduct}">Поиск на странице, введите название товара:</h2>
    </div>
    <div>
        <input type="text" id="myInput" onkeyup="search()" th:placeholder="#{search.}"
               class="input-js" title="Введите категорию">
    </div>
</div>
<hr th:if="${notEmpty}">
<div class="tb-mt" th:if="${notEmpty}">
    <div class="tit-prod" th:if="${productCategoryDto.name!=null}"><h2 th:text="${productCategoryDto.name}"></h2></div>
    <div class="tab">
        <table class="table " id="myTable">
            <thead>
            <tr>
                <th scope="col" th:text="#{title}"> Название</th>
                <th scope="col" th:text="#{photo}"> Фото</th>
                <th scope="col" th:text="#{category}"> Категория</th>
                <th scope="col" th:text="#{price}"> Цена</th>
                <th scope="col" th:text="#{availability}"> Наличие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productDto : ${productsDto}">
                <td class="td-width"><a th:text="${productDto.name}" class="name-prod"
                                        th:href="@{/shop/{id}(id=${productDto.id})}"></a></td>
                <td th:if="${productDto.namePhoto!=null}">
                    <img th:src="@{${productDto.photosImagePath}}" width="150" height="100"/></td>
                <td th:if="${productDto.namePhoto==null}">
                    <img src="https://diamedica.by/uploads/no-image.jpg" width="150" height="100"/></td>
                <td><h4 th:text="${productDto.productCategoryDto.name}"></h4></td>
                <td><h4 th:text="${productDto.price}"></h4></td>
                <td><h4 th:if="${productDto.isExist}">+</h4>
                    <h4 th:if="${!productDto.isExist}">-</h4>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${empty}" th:text="#{noProductsFound}">
</div>

<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
</body>
</html>