<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Пользователь</title>
    <link href="/css/blocks/header.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/blocks/modal.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>

<div class="tab">
    <table class="table ">
        <thead>
        <tr>
            <th scope="col"> Имя</th>
            <th scope="col"> Фамилия</th>
            <th scope="col"> email</th>
            <th scope="col"> логин</th>
            <th scope="col"> номер</th>
            <th scope="col"> роль</th>
            <th scope="col"> статус</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a th:text="${user.firstName}"></a></td>
            <td><a th:text="${user.lastName}"></a></td>
            <td><a th:text="${user.email}"></a></td>
            <td><a th:text="${user.login}"></a></td>
            <td><a th:text="${user.phoneNumber}"></a></td>
            <td><a th:text="${user.role.name}"></a></td>
            <td><a th:text="${user.state.name}"></a></td>
            <td th:if="${user.state.name.equals('ACTIVE')}">
                <form th:method="post" th:action="@{/admin/user/{id}/ban(id=${user.id})}">
                    <button type="submit" class="btn btn-wid btn-col-1">Заблокировать</button>
                </form>
            </td>
            <td th:if="${user.state.name.equals('BANNED')}">
                <form th:method="post" th:action="@{/admin/user/{id}/unban(id=${user.id})}">
                    <button type="submit" class="btn btn-wid btn-col-1">Разблокировать</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>