<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Пользователи</title>
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
    <link href="/css/users.css" rel="stylesheet">

</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="content">
    <div class="table-users">
        <form method="get" action="/admin/users">
            <h1 class="tit-users"> Все зарегистрированные пользователи</h1>
            <div class="sort">
                <h2 class="sort-tit"> Сортировать пользователей:</h2>
                <label for="parameter" class="label-users">Выберите параметр</label>
                <select class="select-sort" name="parameter" id="parameter">
                    <option value="login">Логин</option>
                    <option value="email">email</option>
                    <option value="phoneNumber">Номер телефона</option>
                    <option value="firstName">Имя</option>
                    <option value="lastName">Фамилия</option>
                </select>
                <button type="submit" class="btn-sort">Сортировать</button>
            </div>
        </form>
    </div>

    <div class="tab">
        <table class="table ">
            <thead>
            <tr>
                <th scope="col"> Имя</th>
                <th scope="col"> Фамилия</th>
                <th scope="col"> email</th>
                <th scope="col"> логин</th>
                <th scope="col"> номер телефона</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><a th:text="${user.firstName}" th:href="@{/admin/user/{id}(id=${user.id})}"></a></td>
                <td><a th:text="${user.lastName}"></a></td>
                <td><a th:text="${user.email}"></a></td>
                <td><a th:text="${user.login}"></a></td>
                <td><a th:text="${user.phoneNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>