<div th: fragment="footer">
    <footer class="my-4">
        <ul class="nav-1 justify-content-center border-bottom pb-3 mb-3">
            <li><a href="/shop" class="nav-link pxy-2 text-muted">Главная</a></li>
            <li><a href="/products" class="nav-link pxy-2 text-muted">Товары</a></li>
            <li><a href="#" class="nav-link pxy-2 text-muted">Корзина</a></li>
            <li><a href="#" class="nav-link pxy-2 text-muted">Контакты</a></li>
            <li><a href="#" class="nav-link pxy-2 text-muted">О нас</a></li>
        </ul>
        <p class="text-center text-muted">© 2021 My Shop Company, Inc</p>
    </footer>
</div>