<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/auth/login.css" rel="stylesheet">
    <link href="/css/blocks/footer.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="text-center" id="body">

<main class="form-signin">
    <form method="post" action="/login" th:object="${user}">
        <h1 class="h3 mb-3 mm-3 fw-normal" th:text="#{willSignIn}">Войдите</h1>
        <div class="form-floating">
            <input type="text" class="form-control"
                   id="floatingInput" name="login" th:placeholder="#{login}"
                   onfocus="return myfunc();" onblur="return myfunc1();">
            <label for="floatingInput" class="ls" id="log" th:text="#{login}">Логин</label>
        </div>
        <div class="form-floating pass">
            <input type="password" class="form-control " th:placeholder="#{password}"
                   id="floatingPassword" name="password"
                   onfocus="return myfunc2();" onblur="return myfunc3();">
            <label for="floatingPassword" id="log1" th:text="#{password}">Пароль</label>
            <div>
                <a href="#" class="password-control " onclick="return show_hide_password(this);"></a>
            </div>
            <div>
                <label for="remember-me" class="rem">
                    <input type="checkbox" class="check" name="remember-me" id="remember-me" th:text="#{rememberMe}">
                </label>
            </div>
            <div th:if="${disabled}" id="openModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" th:text="#{yourPageHasBeenRemoved}">Ваша страница была удалена</h3>
                            <a href="/login" title="Close" class="close">×</a>
                        </div>
                        <div class="modal-body">
                            <div class="mb-head" th:text="#{wantToRestoreThePage}">
                                Хотите восстановить страницу?
                            </div>
                            <div>
                                <form method="get"
                                      action="erfre" style="display: none">
                                    <input type="button" style="display: none"/>
                                </form>
                            </div>
                            <div class="cont">
                                <div>
                                    <form method="post" action="/shop/restore">
                                        <button type="submit" class="modal-btn-yes" th:text="#{yes}"
                                                name="login" th:value="${login}">Да
                                        </button>
                                    </form>
                                </div>
                                <div>
                                    <form method="get" action="/login">
                                        <button type="submit" class="modal-btn-no" th:text="#{cancel}">Отмена</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="er-col" th:if="${badCredentials}" th:text="#{loginOrPasswordEnteredIncorrectly}"></div>
        <button class="w-100 btn btn-lg my-btn-log" type="submit" th:text="#{signIn}">Войти</button>
    </form>
    <form action="sign-up" method="get">
        <button class="w-100 btn btn-lg btn-reg my-btn-reg mtb" type="submit" th:text="#{signUp}">Зарегистрироваться
        </button>
    </form>
    <div>
        <a href="/shop" class="to-shop" th:text="#{toShop}"></a>
    </div>
</main>
<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/auth/login.js"></script>
</body>
</html>