body{
    background: url("https://www.arteks.ooo/upload/iblock/5e7/5e7ad1d9283ad6525c31f0b3ef20a855.jpg");
}
.product{
    width: 700px;
    height: auto;
    border: 2px solid #b2afaf;
    border-radius: 43px;
    background-color: white;
}
.tit-pr{
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-mb{
    margin-bottom: 50px;
}
.to-ord{
    margin-left: -574px;
    margin-bottom: 20px;
    margin-top: 20px;
}











