<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title id="title">Товар</title>
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
    <link rel="stylesheet" href="/css/product/product.css">
    <link rel="stylesheet" href="/css/profile/profile.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>

<div class="user">
    <div class="product pr-w">
        <div><h1 class="tit-pr " th:text="${productDto.name}"></h1></div>
        <td th:if="${productDto.namePhoto==null}">
            <img class="img-mb" src="https://diamedica.by/uploads/no-image.jpg"
                 width="450" height="450"/></td>
        <td th:if="${productDto.namePhoto!=null}"><img class="img-mb"
                                                       th:src="@{${productDto.photosImagePath}}" width="450"
                                                       height="450"/></td>
        <div class="prof-items">
            <div><h4 th:text="#{title}">Название</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${productDto.name}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{category}">Категория</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${productDto.productCategoryDto.name}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{price}">Цена</h4></div>
            <div class="prof-data"><h4 class="text-prof" th:text="${productDto.price}"></h4></div>
        </div>
        <div class="prof-items">
            <div><h4 th:text="#{availability}">Наличие</h4></div>
            <div class="prof-data">
                <h4 class="text-prof" th:if="${productDto.isExist}">+</h4>
                <h4 class="text-prof" th:if="${!productDto.isExist}">-</h4>
            </div>
        </div>
        <hr>
        <div>
            <details class="det-prod">
                <summary class="sum" th:text="#{description}">Описание</summary>
                <div class="modal-body">
                    <h4 class="desc" th:text="${productDto.description}"></h4>
                </div>
            </details>
        </div>
        <form method="post" action="/orders/add">
            <input type="hidden" name="id" th:value="${productDto.id}">
            <button type="submit" class="add-card to-ord" id="choose" th:text="#{toOrder}"> В корзину</button>
        </form>
    </div>
</div>

<div id="openModalErrorAdd" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" th:text="#{addError}">Ошибка добавления</h3>
                <a href="#close" onclick="closeModalErrorAdd();"
                   title="Close" id="closeDel" class="close">×</a>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-head" th:text="#{sorryThisProductIsCurrentlyOutOfStock}">
                        К сожалению этого товара сейчас нету в наличии
                    </div>
                    <div class="cont">
                        <div>
                            <button type="button" class="modal-btn-yes btn-error-add">
                                <a onclick="closeModalErrorAddButton();" class="ref-close"
                                   href="#close" th:text="#{ok}">Хорошо</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="openModalChoosePath" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" th:text="#{chooseAction}">Выбрать действие</h3>
                <a href="#close"
                   title="Close" id="closeChoosePath" class="close">×</a>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-head" th:text="#{stayInTheGoodsOrGoToOrders}">
                        остаться в товарах или перейти к заказам
                    </div>
                    <div class="cont">
                        <div>
                            <button type="button" class="modal-btn-yes">
                                <a href="/products" onclick="closeModalChoosePathButton();" class="ref-close"
                                   th:text="#{toTheProducts}">В товары</a></button>
                        </div>
                        <div>
                            <button type="button" class="modal-btn-no">
                                <a href="/orders" onclick="closeModalChoosePathButton();" class="ref-close"
                                   th:text="#{toTheOrders}">К заказам</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${error}">
    <input type="hidden" id="flag" th:value="${error}">
</div>


<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/product/product.js"></script>
<script type="text/javascript" src="/js/blocks/header.js"></script>
</body>
</html>