<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title id="title">Товары</title>
    <link href="/css/product/products.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/blocks/header.css">
    <link rel="stylesheet" href="/css/blocks/footer.css">
    <link rel="stylesheet" href="/css/blocks/modal.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>

<div class="search-js">
    <div>
        <h2 th:text="#{searchOnThePageEnterTheCategoryName}">Поиск на странице, введите название категории:</h2>
    </div>
    <div>
        <input type="text" id="myInput" onkeyup="search()" th:placeholder="#{search.}"
               class="input-js" th:title="#{enterCategory}">
    </div>
</div>

<h2 th:text="#{chooseCategory}">Выберите категорию</h2>
<div class="container">
    <div class="row">
        <table class="table" id="myTable">
            <tbody>
            <tr id="myMenu" th:each="productCategoryDto : ${productCategoriesDto}">
                <td>
                    <h3 class="tit-cat" th:text="${productCategoryDto.name}"></h3>
                    <img class="bd-placeholder-img card-img-top" src="https://diamedica.by/uploads/no-image.jpg"
                         width="100" height="100">
                    <div class="tab-td">
                        <button class="btn-look">
                            <a class="ref" th:href="@{/search/searchCategory/{id}(id=${productCategoryDto.id})}"
                               th:text="#{look}">Посмотреть</a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="blocks/footer::footer"></footer>
<script type="text/javascript" src="/js/blocks/header.js"></script>
<script type="text/javascript" src="/js/product/products.js"></script>
</body>
</html>